<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <h1>결과</h1>
    <p>당신의 조선시대식 이름은 <%=@lastname%><%=@middlename%><%=@firstname%>입니다. </p>
    <a href="https://new-game-subin977.c9users.io/">
                <button style="button">
                    <i class="fa fa-repeat"></i>다시하기
                </button>
            </a>
</body>